*{
    box-sizing: border-box;
}
body{
    font-family: 'Ariel', sans-serif;
    background-color: #a1c7e3;
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}
.colortext_test {
    color: #263194;
   font-weight: bold;
}
.colortext_prez {
    color: #94262f;
    font-size: 18px;
    font-weight: bold;
}
.buttons-left{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 30vh;
}
.buttons-right{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 30vh;
}



.button_test {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background-color: rgba(17, 17, 18, 0);
    border: 4px solid #1e88e5;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: .3s;
    outline: none;
    width: 150px;
    height: 150px;
}
.button_test:hover {
    background-color: #1e88e5;
}
.button_test:before, button:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 48%;
    transition: .3s;
    z-index: -1;
}
.button_test:before {
    border-bottom: 4px solid #1e88e5;
    border-left: 4px solid #1e88e5;
    top: 60%;
    left: -10%;
}
.button_test:after {
    border-top: 4px solid #1e88e5;
    border-right: 4px solid #1e88e5;
    bottom: 60%;
    right: -10%;
}
.button_test:active:before {
    top: 65%;
    left: -15%;
}
.button_test:active:after {
    bottom: 65%;
    right: -15%;
}

.button_test:active:before, button:active:after {
    width: 60%;
    height: 48%;
}



.button_prez {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background-color: rgba(17, 17, 18, 0);
    border: 4px solid #e51e4c;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: .3s;
    outline: none;
    width: 150px;
    height: 150px;
    margin-top: 10vh;
}
.button_prez:hover {
    background-color: #e51e4c;
}
.button_prez:before, button:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 48%;
    transition: .3s;
    z-index: -1;
}
.button_prez:before {
    border-bottom: 4px solid #e51e4c;
    border-left: 4px solid #e51e4c;
    top: 60%;
    left: -10%;
}
.button_prez:after {
    border-top: 4px solid #e51e4c;
    border-right: 4px solid #e51e4c;
    bottom: 60%;
    right: -10%;
}
.button_prez:active:before {
    top: 65%;
    left: -15%;
}
.button_prez:active:after {
    bottom: 65%;
    right: -15%;
}

.button_prez:active:before, button:active:after {
    width: 60%;
    height: 48%;
}