{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"  href="{% static '/style/home.css' %}" />
    <title>Home</title>
</head>
<body>
    <div class="main">
        <div class="buttons-left">
            <button onclick="location.href = 'test1'" class="button_test">
                <spain class="colortext_test">Тест</spain><br>
                Сысоев<br>
                &<br>
                Белов
                </br>
            </button>
            <button onclick="location.href = 'prez1'" class="button_prez">
                <spain class="colortext_prez">Презентация</spain><br>
                Сысоев<br>
                &<br>
                Белов
                </br>
            </button>
        </div>
        <div class="buttons-right">
            <button onclick="location.href = 'test2'" class="button_test">
                <spain class="colortext_test">Тест</spain><br>
                Манякин<br>
                &<br>
                Сиваков
                </br>
            </button>
            <button onclick="location.href = 'prez2'" class="button_prez">
                <spain class="colortext_prez">Презентация</spain><br>
                Манякин<br>
                &<br>
                Сиваков
                </br>
            </button>
        </div>
    </div>
</body>
</html>